{% extends 'main_template.html' %}


{% block detail %}
{% load static %}

<a href="{% url 'the-main-page' %}"><h5>Вернуться на главную</h5></a>
<h1>{{ book.title }}</h1>
<h6><i>{{ book.date }}</i></h6>
{% if book.cover %}
    <img src="{{ book.cover.url }}" width="150" height="200">
{% else %}
    <p></p>
{% endif %}

<h4>{{ book.genre_all.all|join:", " }}</h4>
<h2>{{ book.text }}</h2>
<h5>Авторы: {{ book.authors.all|join:", " }}</h5>

<h4 class='add-rate' id="book_rate_{{ book.slug }}">Рейтинг: {{ book.rate }}</h4>
{% for i in rate %}
    {% if book.rate >= i %}
        <span class="rate fa fa-star checked" id="book_{{ book.slug }}_{{ i }}"></span>
    {% else %}
        <span class="rate fa fa-star" id="book_{{ book.slug }}_{{ i }}"></span>
    {% endif %}
{% endfor %}



<div>Последние добавленные комментарии</div>
<div id="bookdetailview"></div>
{% for comment in book.comments.all %}
<div class="all-comment" id="block-comment-{{ comment.id }}">
    <h3><i>{{ comment.author }}</i></h3><h6><i>{{ comment.date }}</i></h6>
    <h4 style="background-color:Grey;"><i>{{ comment.text }}</i></h4>
    <h5 class="like-comment" id="comment-{{ comment.id }}">Нравится: {{ comment.likes }}</h5>
    {% if comment.is_liked %}
        <h6><font color="red">Вам понравился этот комментарий</font></h6>
    {% endif %}
    {% if comment.is_owner %}
        <h4 class="delete-comment" id="delete-comment-{{ comment.id }}">Удалить комментарий</h4>
        <a href="{% url 'update-comment' id=comment.id %}">
            <button type="button" class="btn btn-outline-danger">Редактировать комментарий</button>
        </a>
    {% endif %}
    <h6>Комментарий понравился: {{ comment.likes_com.all|join:", " }}</h6>

{% endfor %}



<br>
<br>
<br>
<br>
<br>
<br>
<h4>Оставьте Ваш комментарий о книге</h4>


{% if user.is_authenticated %}

<form action="{% url 'comment-ajax' %}" class="form-comment" method="post" id="{{ book.slug }}">
    {% csrf_token %}
    {{ form }}
    {{ captcha }}
    <input type="submit">
    <button class='js-captcha-refresh'></button>
</form>

{% endif %}
<script src="{% static 'script.js' %}"></script>
</div>
{% endblock %}