{% extends 'main_template.html' %}


{% block main %}
{% load static %}
{% if not user.is_authenticated %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<br>
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
{% endif %}
<br>
<a href="{% url 'register' %}">Register</a>
<br>
<br>
<h5>Здравствуйте, {{ user }}</h5>
{% if user.is_authenticated %}
    <a href="{% url 'account' %}"><h4>Перейти в личный кабинет</h4></a>
{% endif %}
<br>

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Genre <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">

        {% for genre in gen %}
            <li><a href="{% url 'page-genre' genre=genre %}">{{ genre }}</a></li>
        {% endfor %}

    </ul>
</div>


    {% for b in books %}
    <div id="block_book_{{ b.slug }}">
        <a href="{% url 'book-detail' slug=b.slug %}"><h1>{{ b.title }}</h1></a>
        {% if b.is_owner %}
            <h4 class="delete-book" id="delete_book_{{ b.slug }}">Удалить книгу</h4>
            <a href="{% url 'update-book' slug=b.slug %}">
                <button type="button" class="btn btn-outline-danger">Редактировать книгу</button>
            </a>
        {% endif %}
        <h6><i>{{ b.date }}</i></h6>
        <h4>Жанры: {{ b.genre.all|join:", " }}</h4>
        <h3>{{ b.text }}</h3>
        <h6><i>Авторы: {{ b.authors.all|join:", " }}</i></h6>


        <h4 class='add-rate' id="book_rate_{{ b.slug }}">Рейтинг: {{ b.rate }}</h4>
        {% for i in range %}

            {% if b.rate >= i %}
                <span class="rate fa fa-star checked" id="book_{{ b.slug }}_{{ i }}"></span>
            {% else %}
                <span class="rate fa fa-star" id="book_{{ b.slug }}_{{ i }}"></span>
            {% endif %}
        {% endfor %}


        <br>
        <h5><i>Книгу оценили:{{ b.users_like.all|join:", "  }}</i></h5>

        <br>
    </div>
    {% endfor %}

<br>
<br>
<br>
<br>
<br>
<br>
{% include 'pagination.html' with page=books %}

<h4>Добавьте Вашу книгу</h4>
{% if user.is_authenticated %}
<form action="{% url 'add-book' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Сохранить">
</form>
{% endif %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}