{% extends 'main_template.html' %}


{% block main %}
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'register' %}">Register</a>
<br>
<h5>Здравствуйте, {{ user }}</h5>
<a href="{% url 'account' %}"><h4>Перейти в личный кабинет</h4></a>
<br>

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Genre <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">

        {% for genre in gen %}
            <li><a href="{% url 'page-genre' genre=genre %}">{{ genre }}</a></li>
        {% endfor %}

    </ul>
</div>


    {% for b in books %}
        <a href="{% url 'book-detail' slug=b.slug %}"><h1>{{ b.title }}</h1></a>
        {% if b.is_owner %}
            <a href="{% url 'delete-book' slug=b.slug %}">
                <button type="button" class="btn btn-outline-danger">Удалить книгу</button>
            </a>
            <a href="{% url 'update-book' slug=b.slug %}">
                <button type="button" class="btn btn-outline-danger">Редактировть книгу</button>
            </a>
        {% endif %}
        <h6><i>{{ b.date }}</i></h6>
        <h4>Жанры: {{ b.genre.all|join:", " }}</h4>
        <h3>{{ b.text }}</h3>
        <h6><i>Авторы: {{ b.authors.all|join:", " }}</i></h6>
        <span class="badge">{{ b.rate }}</span>
        {% for i in range %}
            {% if b.rate >= i %}
                <a href="{% url 'add-rate' slug=b.slug rate=i %}">
                    <span class="fa fa-star checked"></span>
                </a>
            {% else %}
                <a href="{% url 'add-rate' slug=b.slug rate=i %}">
                    <span class="fa fa-star"></span>
                </a>
            {% endif %}

        {% endfor %}
        <br>
        <h5><i>Книгу оценили:{{ b.users_like.all|join:", "  }}</i></h5>

        <br>
    {% endfor %}

<br>
<br>
<br>
<br>
<br>
<br>
{% include 'pagination.html' with page=books %}
<h4>Добавьте Вашу книгу</h4>
{% if user.is_authenticated %}
<form action="{% url 'add-book' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Сохранить">
</form>
{% endif %}
{% endblock %}

